In [75]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91912\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: trio~=0.17 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: exceptiongroup in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91912\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91912\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91912\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91912\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [89]:
import selenium
import pandas as pd

In [90]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [91]:
#Launching Browser
driver = webdriver.Chrome()

In [92]:
driver.get(" https://www.olx.in/")

In [93]:
search= driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div/div/div[1]/div[2]/div[4]/a/span')
search.click()

In [94]:
#Extracting Urls of different properties at different locations
url0= []
for i in range(5):
    link=driver.find_elements(By.XPATH, '//ul[@class="_266Ly _10aCo"]/li/a')
    for j in link:
        url0.append(j.get_attribute('href'))
    
    
    
url0

['https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-builder-floors-600-sq-ft-in-govindpuram-ghaziabad-iid-1773051819',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-3600-sq-ft-in-tripunithura-kochi-iid-1762259614',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1069-sq-ft-in-avadi-chennai-iid-1771728499',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1000-sq-ft-in-vyttila-kochi-iid-1746228781',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1424-sq-ft-in-airport-road-zirakpur-iid-1771190645',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1320-sq-ft-in-adgaon-naka-nashik-iid-1774774098',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-1200-sq-ft-in-anayara-thiruvananthapuram-iid-1774774046',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-apartments-2220-sq-ft-in-nilamber-circle-vadodara-iid-1774774035',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-3350-sq-ft-in-ashoka-garden-bhopal-iid-1774773993',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1117-sq-ft-in-chandranagar-palakkad-iid-1771410284',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-builder-floors-600-sq-ft-in-chanakya-place-delhi-iid-1774773871',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-670-sq-ft-in-taloja-panchanand-navi-mumbai-iid-1765156283',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-800-sq-ft-in-ambernath-thane-iid-1757817817',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1450-sq-ft-in-ace-divino-greater-noida-iid-1774773844',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-675-sq-ft-in-kausa-thane-iid-1766052967',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-1600-sq-ft-in-elamakkara-kochi-iid-1772861701',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1200-sq-ft-in-maruthi-nagar-kurnool-iid-1751594769',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-builder-floors-708-sq-ft-in-harhua-varanasi-iid-1768996534',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1300-sq-ft-in-kalmandapam-palakkad-iid-1774773743',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1075-sq-ft-in-viman-nagar-pune-iid-1774773730',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1000-sq-ft-in-belghoria-kolkata-iid-1774773705',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1350-sq-ft-in-fair-lands-salem-iid-1774773699',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-670-sq-ft-in-indira-nagar-bengaluru-iid-1774773673',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1500-sq-ft-in-kundannur-kumaranellur-iid-1774773668',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-300-sq-ft-in-pethapur-village-gandhinagar-iid-1774773654',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-2800-sq-ft-in-muralipura-jaipur-iid-1774773592',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-630-sq-ft-in-nalasopara-west-mumbai-iid-1774773588',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-houses-villas-800-sq-ft-in-sarojini-nagar-lucknow-iid-1774773551',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-690-sq-ft-in-taloja-panchanand-navi-mumbai-iid-1756623058',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-474-sq-ft-in-kayarambedu-chennai-iid-1774773526',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1289-sq-ft-in-sector-116-mohali-iid-1774668857',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1472-sq-ft-in-kharadi-pune-iid-1771333129',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-958-sq-ft-in-kharadi-pune-iid-1771333021',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1071-sq-ft-in-lohegaon-pune-iid-1771332577',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-721-sq-ft-in-phursungi-pune-iid-1760642993',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1010-sq-ft-in-chrompet-chennai-iid-1772192305',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1100-sq-ft-in-ravbahadur-park-anand-iid-1745715372',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-737-sq-ft-in-lohegaon-pune-iid-1771331877',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-973-sq-ft-in-dhanori-pune-iid-1771331297',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-958-sq-ft-in-kharadi-pune-iid-1771328494',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-builder-floors-600-sq-ft-in-govindpuram-ghaziabad-iid-1773051819',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-3600-sq-ft-in-tripunithura-kochi-iid-1762259614',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1069-sq-ft-in-avadi-chennai-iid-1771728499',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1000-sq-ft-in-vyttila-kochi-iid-1746228781',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1424-sq-ft-in-airport-road-zirakpur-iid-1771190645',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1320-sq-ft-in-adgaon-naka-nashik-iid-1774774098',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-1200-sq-ft-in-anayara-thiruvananthapuram-iid-1774774046',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-apartments-2220-sq-ft-in-nilamber-circle-vadodara-iid-1774774035',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-3350-sq-ft-in-ashoka-garden-bhopal-iid-1774773993',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1117-sq-ft-in-chandranagar-palakkad-iid-1771410284',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-builder-floors-600-sq-ft-in-chanakya-place-delhi-iid-1774773871',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-670-sq-ft-in-taloja-panchanand-navi-mumbai-iid-1765156283',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-800-sq-ft-in-ambernath-thane-iid-1757817817',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1450-sq-ft-in-ace-divino-greater-noida-iid-1774773844',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-675-sq-ft-in-kausa-thane-iid-1766052967',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-1600-sq-ft-in-elamakkara-kochi-iid-1772861701',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1200-sq-ft-in-maruthi-nagar-kurnool-iid-1751594769',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-builder-floors-708-sq-ft-in-harhua-varanasi-iid-1768996534',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1300-sq-ft-in-kalmandapam-palakkad-iid-1774773743',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1075-sq-ft-in-viman-nagar-pune-iid-1774773730',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1000-sq-ft-in-belghoria-kolkata-iid-1774773705',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1350-sq-ft-in-fair-lands-salem-iid-1774773699',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-670-sq-ft-in-indira-nagar-bengaluru-iid-1774773673',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1500-sq-ft-in-kundannur-kumaranellur-iid-1774773668',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-300-sq-ft-in-pethapur-village-gandhinagar-iid-1774773654',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-2800-sq-ft-in-muralipura-jaipur-iid-1774773592',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-630-sq-ft-in-nalasopara-west-mumbai-iid-1774773588',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-houses-villas-800-sq-ft-in-sarojini-nagar-lucknow-iid-1774773551',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-690-sq-ft-in-taloja-panchanand-navi-mumbai-iid-1756623058',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-474-sq-ft-in-kayarambedu-chennai-iid-1774773526',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1289-sq-ft-in-sector-116-mohali-iid-1774668857',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1472-sq-ft-in-kharadi-pune-iid-1771333129',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-958-sq-ft-in-kharadi-pune-iid-1771333021',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1071-sq-ft-in-lohegaon-pune-iid-1771332577',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-721-sq-ft-in-phursungi-pune-iid-1760642993',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1010-sq-ft-in-chrompet-chennai-iid-1772192305',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1100-sq-ft-in-ravbahadur-park-anand-iid-1745715372',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-737-sq-ft-in-lohegaon-pune-iid-1771331877',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-973-sq-ft-in-dhanori-pune-iid-1771331297',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-958-sq-ft-in-kharadi-pune-iid-1771328494',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-builder-floors-600-sq-ft-in-govindpuram-ghaziabad-iid-1773051819',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-3600-sq-ft-in-tripunithura-kochi-iid-1762259614',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1069-sq-ft-in-avadi-chennai-iid-1771728499',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1000-sq-ft-in-vyttila-kochi-iid-1746228781',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1424-sq-ft-in-airport-road-zirakpur-iid-1771190645',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1320-sq-ft-in-adgaon-naka-nashik-iid-1774774098',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-1200-sq-ft-in-anayara-thiruvananthapuram-iid-1774774046',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-apartments-2220-sq-ft-in-nilamber-circle-vadodara-iid-1774774035',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-3350-sq-ft-in-ashoka-garden-bhopal-iid-1774773993',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1117-sq-ft-in-chandranagar-palakkad-iid-1771410284',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-builder-floors-600-sq-ft-in-chanakya-place-delhi-iid-1774773871',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-670-sq-ft-in-taloja-panchanand-navi-mumbai-iid-1765156283',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-800-sq-ft-in-ambernath-thane-iid-1757817817',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1450-sq-ft-in-ace-divino-greater-noida-iid-1774773844',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-675-sq-ft-in-kausa-thane-iid-1766052967',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-1600-sq-ft-in-elamakkara-kochi-iid-1772861701',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1200-sq-ft-in-maruthi-nagar-kurnool-iid-1751594769',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-builder-floors-708-sq-ft-in-harhua-varanasi-iid-1768996534',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1300-sq-ft-in-kalmandapam-palakkad-iid-1774773743',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1075-sq-ft-in-viman-nagar-pune-iid-1774773730',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1000-sq-ft-in-belghoria-kolkata-iid-1774773705',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1350-sq-ft-in-fair-lands-salem-iid-1774773699',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-670-sq-ft-in-indira-nagar-bengaluru-iid-1774773673',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1500-sq-ft-in-kundannur-kumaranellur-iid-1774773668',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-300-sq-ft-in-pethapur-village-gandhinagar-iid-1774773654',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-2800-sq-ft-in-muralipura-jaipur-iid-1774773592',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-630-sq-ft-in-nalasopara-west-mumbai-iid-1774773588',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-houses-villas-800-sq-ft-in-sarojini-nagar-lucknow-iid-1774773551',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-690-sq-ft-in-taloja-panchanand-navi-mumbai-iid-1756623058',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-474-sq-ft-in-kayarambedu-chennai-iid-1774773526',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1289-sq-ft-in-sector-116-mohali-iid-1774668857',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1472-sq-ft-in-kharadi-pune-iid-1771333129',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-958-sq-ft-in-kharadi-pune-iid-1771333021',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1071-sq-ft-in-lohegaon-pune-iid-1771332577',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-721-sq-ft-in-phursungi-pune-iid-1760642993',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1010-sq-ft-in-chrompet-chennai-iid-1772192305',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1100-sq-ft-in-ravbahadur-park-anand-iid-1745715372',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-737-sq-ft-in-lohegaon-pune-iid-1771331877',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-973-sq-ft-in-dhanori-pune-iid-1771331297',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-958-sq-ft-in-kharadi-pune-iid-1771328494',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-builder-floors-600-sq-ft-in-govindpuram-ghaziabad-iid-1773051819',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-3600-sq-ft-in-tripunithura-kochi-iid-1762259614',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1069-sq-ft-in-avadi-chennai-iid-1771728499',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1000-sq-ft-in-vyttila-kochi-iid-1746228781',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1424-sq-ft-in-airport-road-zirakpur-iid-1771190645',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1320-sq-ft-in-adgaon-naka-nashik-iid-1774774098',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-1200-sq-ft-in-anayara-thiruvananthapuram-iid-1774774046',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-apartments-2220-sq-ft-in-nilamber-circle-vadodara-iid-1774774035',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-3350-sq-ft-in-ashoka-garden-bhopal-iid-1774773993',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1117-sq-ft-in-chandranagar-palakkad-iid-1771410284',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-builder-floors-600-sq-ft-in-chanakya-place-delhi-iid-1774773871',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-670-sq-ft-in-taloja-panchanand-navi-mumbai-iid-1765156283',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-800-sq-ft-in-ambernath-thane-iid-1757817817',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1450-sq-ft-in-ace-divino-greater-noida-iid-1774773844',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-675-sq-ft-in-kausa-thane-iid-1766052967',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-1600-sq-ft-in-elamakkara-kochi-iid-1772861701',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1200-sq-ft-in-maruthi-nagar-kurnool-iid-1751594769',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-builder-floors-708-sq-ft-in-harhua-varanasi-iid-1768996534',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1300-sq-ft-in-kalmandapam-palakkad-iid-1774773743',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1075-sq-ft-in-viman-nagar-pune-iid-1774773730',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1000-sq-ft-in-belghoria-kolkata-iid-1774773705',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1350-sq-ft-in-fair-lands-salem-iid-1774773699',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-670-sq-ft-in-indira-nagar-bengaluru-iid-1774773673',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-1500-sq-ft-in-kundannur-kumaranellur-iid-1774773668',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-houses-villas-300-sq-ft-in-pethapur-village-gandhinagar-iid-1774773654',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-4-bhk-houses-villas-2800-sq-ft-in-muralipura-jaipur-iid-1774773592',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-630-sq-ft-in-nalasopara-west-mumbai-iid-1774773588',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-houses-villas-800-sq-ft-in-sarojini-nagar-lucknow-iid-1774773551',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-690-sq-ft-in-taloja-panchanand-navi-mumbai-iid-1756623058',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-474-sq-ft-in-kayarambedu-chennai-iid-1774773526',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1289-sq-ft-in-sector-116-mohali-iid-1774668857',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1472-sq-ft-in-kharadi-pune-iid-1771333129',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-958-sq-ft-in-kharadi-pune-iid-1771333021',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-3-bhk-apartments-1071-sq-ft-in-lohegaon-pune-iid-1771332577',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-1-bhk-apartments-721-sq-ft-in-phursungi-pune-iid-1760642993',
 'https://www.olx.in/item/for-sale-houses-apartments-c1725-2-bhk-apartments-1010-sq-ft-in-chrompet-chennai-iid-1772192305',

In [95]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [96]:
#Extracting required entries from each property
bhk=[]
p_type=[]
beds=[]
bath=[]
address=[]
landmark=[]

carpetarea=[]
status=[]
floor=[]
transaction_type=[]
yearbuilt=[]
price_sqft=[]

furnished_sts=[]
facing=[]
car=[]
owner=[]
amount_sqft=[]
amount_total=[]


for i in url0:
    driver.get(i)
    time.sleep(5)
    try:
        bh=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[2]/div/span[2]')
        bhk.append(bh.text)
    except NoSuchElementException:
        bhk.append('NONE')
    try:
        p_typ=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[1]/div/span[2]')
        p_type.append(p_typ.text)
    except NoSuchElementException:
        p_type.append('NONE')
    try:
        bed=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[2]/div/span[2]')
        beds.append(bed.text)
    except NoSuchElementException:
        beds.append('NONE') 
    try:
        bat=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[3]/div/span[2]')
        bath.append(bat.text)
    except NoSuchElementException:
        bath.append('NONE')
    try:
        add=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[4]/div[1]/div/section/div/div[1]/div/span')
        address.append(add.text)
    except NoSuchElementException:
        address.append('NONE')
    try:
        land=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[14]/div/span[2]')
        landmark.append(land.text)
    except NoSuchElementException:
        landmark.append('NONE')
    try:
        carpet=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[8]/div/span[2]')
        carpetarea.append(carpet.text)
    except NoSuchElementException:
        carpetarea.append('NONE')
    try:
        stat=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[5]/div/span[2]')
        status.append(stat.text)
    except NoSuchElementException:
        status.append('NONE')
    try:
        floo=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[11]/div/span[2]')
        floor.append(floo.text)
    except NoSuchElementException:
        floor.append('NONE')
    try:
        pri=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[7]/div/span[2]')
        price_sqft.append(pri.text)
    except NoSuchElementException:
        price_sqft.append('NONE')
    try:
        furnished_st=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[4]/div/span[2]')
        furnished_sts.append(furnished_st.text)
    except NoSuchElementException:
        furnished_sts.append('NONE')
    try:
        facin=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[13]/div/span[2]')
        facing.append(facin.text)
    except NoSuchElementException:
        facing.append('NONE')
        
    try:
        ca=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[12]/div/span[2]')
        car.append(ca.text)
    except NoSuchElementException:
        car.append('NONE')
    try:
        own=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[6]/div/span[2]')
        owner.append(own.text)
    except NoSuchElementException:
        owner.append('NONE')
    try:
        amt=driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/div/div/div[3]/section/div/div/div[1]/div/div[10]/div/span[2]')
        amount_sqft.append(amt.text)
    except NoSuchElementException:
        amount_sqft.append('NONE')       
    try:
        am=driver.find_element(By.XPATH, '/html/body/div/div/main/div/div/div/div[4]/div[1]/div/section/span[1]')
        amount_total.append(am.text)
    except NoSuchElementException:
        amount_total.append('NONE')

In [145]:
import pandas as pd
df1= pd.DataFrame({'Bhk_Type':bhk ,'Property_Type':p_type,'Beds':beds,'Bathroom':bath,'Address':address,'Landmark':landmark})
df2=pd.DataFrame({'Carpet_Area':carpetarea,'Status':status,'Floors':floor,'Price_sqft':price_sqft})
df3=pd.DataFrame({'Furnishing':furnished_sts,'Facing':facing,'Car_Parking':car,'Ownership':owner,'Book_amt_Lakhs':amount_sqft,'Total_Amt_in_rupees':amount_total})
df1

,Bhk_Type,Property_Type,Beds,Bathroom,Address,Landmark
0,2,Builder Floors,2,2,"Govindpuram, Ghaziabad, Uttar Pradesh",Builder floor
1,4,Houses & Villas,4,4,"Tripunithura, Kochi, Kerala",Two Storeyed Bungalow
2,3,Houses & Villas,3,3,"Avadi, Chennai, Tamil Nadu",NONE
3,3,Houses & Villas,3,2,"Vyttila, Kochi, Kerala",NONE
4,3,Apartments,3,3,"Airport Road, Zirakpur, Punjab",Prem Aero homes 9915314777
...,...,...,...,...,...,...
195,2,Apartments,2,2,"Chrompet, Chennai, Tamil Nadu",NAVRANG FLATS
196,3,Houses & Villas,3,2,"Ravbahadur Park, Anand, Gujarat",NONE
197,1,Apartments,1,1,"Lohegaon, Pune, Maharashtra",NONE
198,2,Apartments,2,2,"Dhanori, Pune, Maharashtra",NONE
199,2,Apartments,2,2,"Kharadi, Pune, Maharashtra",NONE

In [115]:
df2['Floors']=df2['Floors'].apply(pd.to_numeric, errors='coerce')
df2

    Carpet_Area              Status  Floors Price_sqft
0           576       Ready to Move     4.0        600
1          3600       Ready to Move     0.0       3600
2           894  Under Construction     NaN       1069
3          1000       Ready to Move     1.0       1000
4          1250       Ready to Move     2.0       1424
..          ...                 ...     ...        ...
195         900  Under Construction     1.0       1010
196         600       Ready to Move     NaN       1100
197         567  Under Construction     1.0        737
198         749  Under Construction     1.0        973
199         737  Under Construction     1.0        958

[200 rows x 4 columns]

In [146]:
df3['Car_Parking']=df3['Car_Parking'].apply(pd.to_numeric, errors='coerce')

#Removing 'Rupee sign ' from amount
df3['Total_Amt_in_rupees'] = df3['Total_Amt_in_rupees'].str.replace('₹', '')
df3

,Furnishing,Facing,Car_Parking,Ownership,Book_amt_Lakhs,Total_Amt_in_rupees
0,Semi-Furnished,South,NaN,Owner,4,"16,00,000"
1,Semi-Furnished,East,2.0,Owner,0,"1,60,00,000"
2,Unfurnished,NONE,NaN,Builder,2,"48,50,000"
3,Unfurnished,CAPITAL PROPERTIES - (A Property Management Se...,NaN,Dealer,2,"41,00,000"
4,Semi-Furnished,East,1.0,Owner,3,"63,50,000"
...,...,...,...,...,...,...
195,Unfurnished,North,1.0,Builder,3,"65,65,000"
196,Semi-Furnished,NONE,NaN,Owner,0,"37,00,000"
197,Unfurnished,Shreeram Shivalay,NaN,Builder,5,"53,00,000"
198,Unfurnished,Skyrise Sparkle,NaN,Builder,7,"74,00,000"
199,Unfurnished,Riverdale Groves and Grand,NaN,Builder,13,"93,00,000"

In [134]:
df1['state'] = df1['Address'].str.split(',').str[-1]
df1

,Bhk_Type,Property_Type,Beds,Bathroom,Address,Landmark,state,City
0,2,Builder Floors,2,2,"Govindpuram, Ghaziabad, Uttar Pradesh",Builder floor,Uttar Pradesh,Ghaziabad
1,4,Houses & Villas,4,4,"Tripunithura, Kochi, Kerala",Two Storeyed Bungalow,Kerala,Kochi
2,3,Houses & Villas,3,3,"Avadi, Chennai, Tamil Nadu",NONE,Tamil Nadu,Chennai
3,3,Houses & Villas,3,2,"Vyttila, Kochi, Kerala",NONE,Kerala,Kochi
4,3,Apartments,3,3,"Airport Road, Zirakpur, Punjab",Prem Aero homes 9915314777,Punjab,Zirakpur
...,...,...,...,...,...,...,...,...
195,2,Apartments,2,2,"Chrompet, Chennai, Tamil Nadu",NAVRANG FLATS,Tamil Nadu,Chennai
196,3,Houses & Villas,3,2,"Ravbahadur Park, Anand, Gujarat",NONE,Gujarat,Anand
197,1,Apartments,1,1,"Lohegaon, Pune, Maharashtra",NONE,Maharashtra,Pune
198,2,Apartments,2,2,"Dhanori, Pune, Maharashtra",NONE,Maharashtra,Pune
199,2,Apartments,2,2,"Kharadi, Pune, Maharashtra",NONE,Maharashtra,Pune

In [135]:
df1['City'] = df1['Address'].str.split(',').str[-2]

df1

,Bhk_Type,Property_Type,Beds,Bathroom,Address,Landmark,state,City
0,2,Builder Floors,2,2,"Govindpuram, Ghaziabad, Uttar Pradesh",Builder floor,Uttar Pradesh,Ghaziabad
1,4,Houses & Villas,4,4,"Tripunithura, Kochi, Kerala",Two Storeyed Bungalow,Kerala,Kochi
2,3,Houses & Villas,3,3,"Avadi, Chennai, Tamil Nadu",NONE,Tamil Nadu,Chennai
3,3,Houses & Villas,3,2,"Vyttila, Kochi, Kerala",NONE,Kerala,Kochi
4,3,Apartments,3,3,"Airport Road, Zirakpur, Punjab",Prem Aero homes 9915314777,Punjab,Zirakpur
...,...,...,...,...,...,...,...,...
195,2,Apartments,2,2,"Chrompet, Chennai, Tamil Nadu",NAVRANG FLATS,Tamil Nadu,Chennai
196,3,Houses & Villas,3,2,"Ravbahadur Park, Anand, Gujarat",NONE,Gujarat,Anand
197,1,Apartments,1,1,"Lohegaon, Pune, Maharashtra",NONE,Maharashtra,Pune
198,2,Apartments,2,2,"Dhanori, Pune, Maharashtra",NONE,Maharashtra,Pune
199,2,Apartments,2,2,"Kharadi, Pune, Maharashtra",NONE,Maharashtra,Pune

In [137]:
df1

,Bhk_Type,Property_Type,Beds,Bathroom,Address,Landmark,state,City
0,2,Builder Floors,2,2,"Govindpuram, Ghaziabad, Uttar Pradesh",Builder floor,Uttar Pradesh,Ghaziabad
1,4,Houses & Villas,4,4,"Tripunithura, Kochi, Kerala",Two Storeyed Bungalow,Kerala,Kochi
2,3,Houses & Villas,3,3,"Avadi, Chennai, Tamil Nadu",NONE,Tamil Nadu,Chennai
3,3,Houses & Villas,3,2,"Vyttila, Kochi, Kerala",NONE,Kerala,Kochi
4,3,Apartments,3,3,"Airport Road, Zirakpur, Punjab",Prem Aero homes 9915314777,Punjab,Zirakpur
...,...,...,...,...,...,...,...,...
195,2,Apartments,2,2,"Chrompet, Chennai, Tamil Nadu",NAVRANG FLATS,Tamil Nadu,Chennai
196,3,Houses & Villas,3,2,"Ravbahadur Park, Anand, Gujarat",NONE,Gujarat,Anand
197,1,Apartments,1,1,"Lohegaon, Pune, Maharashtra",NONE,Maharashtra,Pune
198,2,Apartments,2,2,"Dhanori, Pune, Maharashtra",NONE,Maharashtra,Pune
199,2,Apartments,2,2,"Kharadi, Pune, Maharashtra",NONE,Maharashtra,Pune

In [138]:
#Creating csv files for above DataFrames:
file_path1 = 'Table1.csv'
df1.to_csv(file_path1, index=False)

In [139]:
file_path2 = 'Table2.csv'
df2.to_csv(file_path2, index=False)

In [147]:
file_path3 = 'Table3.csv'
df3.to_csv(file_path3, index=False)